
$bg-color1: #D7D7C1;
$bg-color2: #B4A79A;
$bg-color4: #AC7339;

$bg-color-form: #D3D3D3;

$bg-color-nav-bar: #003300;

$border-color1: #7a7a52;
$border-color2: #996600;
$border-color-form: #000000;

$text-color: #000000;
$text-color-soft: #cccccc;

$shadow-color: #172727;

$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
$yellow: #FFFF00;
$dark-yellow: #7F7F00;
