
* {
    @include box-sizing;
}

html{
  @include font-size-mixin(16px);
}

body{
  @include font-size-mixin(1.1rem)
  background-color: $bg-color-background;
  font-family: $main-font;
  max-width: 1200px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

pre.address-telephone {
  font-family: $main-font;
}

.main{
  border:$border-section;
}

.section{
  background-color: $bg-color-main;
}

.section:not(:last-child) {
  border-bottom: $border-section;
}
