
* {
    @include box-sizing;
}

body{

  background-color: $bg-color2;
  font-family: $main-font;
  max-width: 1200px;
  font-size: 100%;
  margin: 0 auto;
}

body {
  @include font-size-mixin(16px);
}

p {
  font-size: 1em;
}

.main{
  border:$border-section;
  font-family: $main-font;
}

a:focus {
  outline: none;
  border-color: $yellow;
}

.home-link {
  text-decoration: none;
  color: $black;
}

.home-link:focus {
  outline: 2px solid $yellow;
}

.main-heading {
  text-align: center;
  padding: 20px;
  font-size: $font-xlarge;
}

.section {
  background-color: $bg-color1;
  border-bottom: $border-section;
}
