input[type=submit] {

    background-color: $bg-color-button;
    font-size: inherit;
    font-weight: bold;
    border: $border-form;
    color: $black;
    padding: 0.625em;
    margin: 0.25em 0.25em;
    @include box-shadow;
    cursor: pointer;
}

input[type=submit]:hover{
  background-color: $color-hover;
}

input[type=submit]:focus {
  border-color: $color-focus;
}
