input[type=submit] {

    background-color: $bg-color-button;
    border: $border-form;
    color: $black;
    cursor: pointer;
    font-size: inherit;
    font-weight: bold;
    margin: .25em;
    padding: .625em;
    @include box-shadow;
}

input[type=submit]:hover{
  background-color: $color-hover;
}

input[type=submit]:focus {
  border-color: $color-focus;
}
