// For consistant sizing when padding and border changed


[class*="column-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

@media only screen and(min-width: 480px) {
    .column-quarter {
        width: 25%;
    }

    .column-third {
      width: 33.33%;
    }

    .column-half {
        width: 50%;
    }

    .column-two-thirds {
        width: 66.66%;
    }

    .column-three-quarters {
        width: 75%;
    }

    .column-full {
        width: 100%;
    }

}
