fieldset {
  @include border-radius;
  background-color: $bg-color-form;
  border: $border-form;
  font-weight: 600;
  padding: .625em 1.5em;
}

input {
  @include border-radius;
  border: $border-form;
  margin-bottom: 1em;
  outline: none;
  padding: .5em;
  width: 100%;

}

textarea {
  @include border-radius;
  border: $border-form;
  height: 8em;
  margin-bottom: 1em;
  outline: none;
  padding: .5em;
  width: 100%;
}

input:focus, textarea:focus {
  border-color: $color-focus;
}

textarea, input[type=text], input[type=email] {
  @include font-size-mixin(1.1rem)
}

@media screen and(min-width: 1000px) {
  input {
    display: block;
    width: 75%;
  }

  textarea {
    display: block;
    height: 10em;
    width: 100%;

  }
}
