
// Need to change images used

img {
  max-width: 100%;
}

.section-image {
  @include box-shadow;
  border: 1px solid $black;
}

.section-image-large {
  @include box-shadow;
  border: 1px solid $black;
  height: 100%;
  width: 100%;
}

.social-icon {
  margin: 0 .25em 1em .5em;
}
