
// Need to change images used

img {
  max-width: 100%;
}

.section-image{
  border: 1px solid $black;
  @include box-shadow;
}

.logo-image {
  max-width: 100%;
}

.section-image-large {
  border: 1px solid $black;
  @include box-shadow;
   height: 100%;
   width: 100%;
}

.social-icon {
  margin: 0em 0.25em 1em 0.5em;
}
