// alternate navbar test

.navbar-main, .navbar-contact {
  list-style-type: none;
  margin: auto;
  border: $border-navbar;
  background-color: $bg-color-nav-bar;
  font-weight: bold;
  overflow: hidden;
  font-size: $font-large;
  padding-left: .5em;

li {
  float: left;
}

a {
  display: block;
  color: $white;
  text-align: center;
  padding: .5em .5em;
  border: 2px solid $bg-color-nav-bar;
  text-decoration: none;
}

a:hover {
  background-color: $color-hover;
}

a:focus {
  outline: none;
  border: 2px solid $color-focus;
}
}

li.mobile-menu {
  display: none;
}

// mobile menu
@media screen and (max-width:820px) {
  .navbar-main {
    padding: 0;
  }

  .navbar-main li {
    display: none;
  }

  .navbar-main .mobile-menu {
    display: block;
    font-size: $font-regular;
  }
}

.mobile-menu-options {
  background-color: $bg-color-nav-bar;
  border: $border-navbar;
  display: none;
  position: absolute;
}

.mobile-menu:hover .mobile-menu-options {
  display: block;
}

 .mobile-menu-options a {
  border: $border-navbar;
  padding: .6em 1.5em;
}

.mobile-menu-options a:hover {
  background-color: $color-hover;
}
