table, td, tr, th {
  max-width: 100%;
  border: $border-form;
  border-collapse: collapse;
  padding: .5em;
}

table {
  @include box-shadow;
  background-color: $bg-color-background;
}

// Reduce padding for mobiles

@media screen and(max-width:480px) {
  td {
    padding: .25em;
  }
}
