<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Joe's Eatery - Home page</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="../icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="../icons/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>


<body>


  <header>
        <div class="main-heading">
          <a class="home-link" href="/"><img class="logo-image" alt="The Joe's Eatery logo" src="../images/logo.png"></a>
        </div>

        <nav>
      <ul class="navbar-main">
        <li><a href="/">Home</a></li>
        <li><a href="../views/pageOne.html">Recipe Corner</a></li>
        <li><a href="../views/pageTwo.html">Food News</a></li>
        <li><a href="../views/pageThree.html">Forum</a></li>
        <li><a href="../views/pageFour.html">Tips and Tricks</a></li>
        <li><a href="../views/pageFour.html">Help</a></li>
        <li class="mobile-menu">
          <a href="/">Menu</a>
        </li>
      </ul>
    </nav>

</header>

<!-- Content -->


<footer>
  <!-- Some sort of navigation for contact. Not sure what this would look like -->
  <nav role="navigation">
    <ul class="navbar-contact">
      <li><a href="/">Home</a></li>
      <li><a href="/views/pageOne.html">Contact us</a></li>
    </ul>
</nav>
</footer>



</body>

</html>
