<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Joe's Eatery - Home page</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="../icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../icons/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>


<body>


    <header>
          <div class="main-heading" role="banner">
            <a class="home-link" href="/"><img class="logo-image" role="banner" alt="The Joe's Eatery logo" src="../images/logo.png"></a>
          </div>

          <nav role="navigation" aria-label="Main navigation">
        <ul class="navbar-main">
          <li><a href="/">Home</a></li>
          <li><a href="../views/recipe_corner.html">Recipe Corner</a></li>
          <li><a href="../views/food_news.html">Food News</a></li>
          <li><a href="../views/forum.html">Forum</a></li>
          <li><a href="../views/tips_and_tricks.html">Tips and Tricks</a></li>
          <li><a href="../views/help.html">Help</a></li>

          <li class="mobile-menu">
            <a>Menu</a>
            <div class="mobile-menu-options">
              <a href="/">Home</a>
              <a href="../views/recipe_corner.html">Recipe Corner</a>
              <a href="../views/food_news.html">Food News</a>
              <a href="../views/forum.html">Forum</a>
              <a href="../views/tips_and_tricks.html">Tips and Tricks</a>
              <a href="../views/help.html">Help</a>
            </div>
          </li>

        </ul>
      </nav>

</header>

<main>

<!-- Content -->

</main>

<footer id="contactForm">
<div class="container">


<div class="item">
<!-- Just using get for the moment - Will switch to post -->
<form class="contact-form" role="form" action="/" method="get">
  <fieldset>
    <legend>Contact Us</legend>
    <div>
  <label for="contactName">Your name</label>
  <input id="contactName" type="text" name="Your name" value="">
</div>
<div>
  <label for="contactEmail">Your email address</label>
  <input id="contactEmail" type="email" name="Your email address" value="">
</div>
<div>
  <label for="contactComments">Your thoughts</label>
  <textarea id="contactComments" name="Tell us your thoughts"></textarea>
</div>
    <input type="submit" value="Submit">
    </fieldset>
</form>
</div>

<div class="item">
    <pre class="address-telephone">
  You can also write to us at:
  Joe's Eatery
  Leeds
  PO Box 1642

  Or telephone:
  07123 456789
</pre>

<p>Or you can contact us through social media</p>
  <a href="/"> <img class="social-icon" src="../icons/social/facebook-logo.png" alt="Go to our Facebook page"></a>
  <a href="/"> <img class="social-icon" src="../icons/social/twitter-logo.png" alt="Go to our Twitter page"></a>
  <a href="/"> <img class="social-icon" src="../icons/social/skype-logo.png" alt="Contact us through Skype"></a>
  <a href="/"> <img class="social-icon" src="../icons/social/linkedin-logo.png" alt="Go to our Linked In page"></a>

  <address>
    If you notice any issues with this page,<br>
    Please <a href="mailto:contemno82@gmail.com">contact me</a>
</address>

<div role="contentinfo">
  &#169; JoeCo industries (No copyright held)
</div>

</div>
</div>

</footer>



<footer>
  <nav role="navigation" aria-label="Contact navigation">
    <ul class="navbar-contact">
      <li><a href="/">Home</a></li>
      <li><a href="../views/help.html">Contact us</a></li>
    </ul>
</nav>
</footer>



</body>

</html>
