.container {
  display: -webkit-flex;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 1em; }

.align-center {
  align-items: center; }

.item {
  padding: 1em 2em 2em 2em;
  width: 100%; }

.meals-section .item:not(:first-child) {
  border-left: none; }

.item-small {
  flex: 1;
  padding: 1.8em;
  width: 100%; }

.item-large {
  flex: 2;
  padding: 1.8em;
  width: 100%; }

@media only screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    padding: 0; } }

@media only screen and (max-width: 498px) {
  .item, .item-large, .item-small {
    padding: .5em 1em; } }

.first {
  -webkit-order: -1;
  order: -1; }

.inline {
  display: inline-flex; }

fieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #D3D3D3;
  border: 3px solid #000000;
  font-weight: 600;
  padding: .625em 1.5em; }

input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #000000;
  margin-bottom: 1em;
  outline: none;
  padding: .5em;
  width: 100%; }

textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  border: 3px solid #000000;
  height: 8em;
  margin-bottom: 1em;
  outline: none;
  padding: .5em;
  width: 100%; }

input:focus, textarea:focus {
  border-color: #FFFF00; }

textarea, input[type=text], input[type=email] {
  font-size: 1.1rem; }
  @media screen and (max-width: 640px) {
    textarea, input[type=text], input[type=email] {
      font-size: 0.99rem; } }

@media screen and (min-width: 1000px) {
  input {
    display: block;
    width: 75%; }
  textarea {
    display: block;
    height: 10em;
    width: 100%; } }

input[type=submit] {
  background-color: #AC7339;
  border: 3px solid #000000;
  color: #000000;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  margin: .25em;
  padding: .625em;
  -webkit-box-shadow: 2px 2px 2px #172727;
  -moz-box-shadow: 2px 2px 2px #172727;
  box-shadow: 2px 2px 2px #172727; }

input[type=submit]:hover {
  background-color: #7F7F00; }

input[type=submit]:focus {
  border-color: #FFFF00; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media screen and (max-width: 640px) {
    html {
      font-size: 14.4px; } }

body {
  font-size: 1.1rem;
  background-color: #B4A79A;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1200px; }
  @media screen and (max-width: 640px) {
    body {
      font-size: 0.99rem; } }

address {
  font-style: normal; }

.address-telephone {
  font-family: Arial, Helvetica, sans-serif; }

.main {
  border: 10px ridge #7a7a52; }

.section {
  background-color: #D7D7C1; }

.section:not(:last-child) {
  border-bottom: 10px ridge #7a7a52; }

[class*="column-"] {
  float: left;
  padding: 1em;
  width: 100%; }

@media only screen and (min-width: 480px) {
  .column-quarter {
    width: 25%; }
  .column-third {
    width: 33.33%; }
  .column-half {
    width: 50%; }
  .column-two-thirds {
    width: 66.66%; }
  .column-three-quarters {
    width: 75%; }
  .column-full {
    width: 100%; } }

header {
  background-color: #AC7339;
  background: -webkit-linear-gradient(#AC7339, #D7D7C1);
  background: -o-linear-gradient(#AC7339, #D7D7C1);
  background: -moz-linear-gradient(#AC7339, #D7D7C1);
  background: linear-gradient(#AC7339, #D7D7C1);
  border: 10px ridge #7a7a52;
  font-family: Arial, Helvetica, sans-serif; }

footer {
  background-color: #D7D7C1;
  border: 10px ridge #7a7a52;
  clear: left;
  font-family: Arial, Helvetica, sans-serif; }

img {
  max-width: 100%; }

.section-image {
  -webkit-box-shadow: 2px 2px 2px #172727;
  -moz-box-shadow: 2px 2px 2px #172727;
  box-shadow: 2px 2px 2px #172727;
  border: 1px solid #000000; }

.section-image-large {
  -webkit-box-shadow: 2px 2px 2px #172727;
  -moz-box-shadow: 2px 2px 2px #172727;
  box-shadow: 2px 2px 2px #172727;
  border: 1px solid #000000;
  height: 100%;
  width: 100%; }

.social-icon {
  margin: 0 .25em 1em .5em; }

.table-list {
  list-style-type: none;
  padding: 0 0 0 .25em; }

a:focus {
  outline: 5px solid #FFFF00;
  border-color: #FFFF00; }

.navbar-main, .navbar-contact {
  list-style-type: none;
  margin: auto;
  border: 4px double #996600;
  background-color: #003300;
  font-weight: bold;
  overflow: hidden;
  font-size: 120%;
  padding-left: .5em; }
  .navbar-main li, .navbar-contact li {
    float: left; }
  .navbar-main a, .navbar-contact a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: .5em .5em;
    border: 2px solid #003300;
    text-decoration: none; }
  .navbar-main a:hover, .navbar-contact a:hover {
    background-color: #7F7F00; }
  .navbar-main a:focus, .navbar-contact a:focus {
    outline: none;
    border: 2px solid #FFFF00; }

li.mobile-menu {
  display: none; }

@media screen and (max-width: 820px) {
  .navbar-main {
    padding: 0; }
  .navbar-main li {
    display: none; }
  .navbar-main .mobile-menu {
    display: block;
    font-size: 100%; } }

.mobile-menu-options {
  background-color: #003300;
  border: 4px double #996600;
  display: none;
  position: absolute; }

.mobile-menu:hover .mobile-menu-options {
  display: block; }

.mobile-menu-options a {
  border: 4px double #996600;
  padding: .6em 1.5em; }

.mobile-menu-options a:hover {
  background-color: #7F7F00; }

table, td, tr, th {
  max-width: 100%;
  border: 3px solid #000000;
  border-collapse: collapse;
  padding: .5em; }

table {
  -webkit-box-shadow: 2px 2px 2px #172727;
  -moz-box-shadow: 2px 2px 2px #172727;
  box-shadow: 2px 2px 2px #172727;
  background-color: #B4A79A; }

@media screen and (max-width: 480px) {
  td {
    padding: .25em; } }

.main-heading {
  text-align: center;
  padding: 20px; }

p {
  font-size: 1.1rem; }
  @media screen and (max-width: 640px) {
    p {
      font-size: 0.99rem; } }
